<div class="static-block-page">
    <section>
        <h1>Diventa Manager</h1>
        <h2>Il SixthManager svolge l’attività di affiliazione Imprese, Negozi e Cittadini al Social Network SixthContinent, percependo profitti sia diretti che indiretti da quanto generato.</h2>
        <div class="wrapper-width1">
            <article data-behavior="fill" class="two-columns">
                <div>
                    <p>
                        Il SixthContinent Broker, collabora con SixthContinent e per lui affilia Imprese e Negozi, proponendo a questi di collegarsi al Social Network e di ricevere come clienti i cittadini di SixthContinent e accettare il pagamento tramite l’App. SixthMarket . 
                        <br><br>
                        Il Broker, visita negozi e attività commerciali promuovendo l’affiliazione a SixthContinent. Il negoziante si affilia compilando l’apposito modulo su SixthContinent, inserendo il Codice del Broker. Successivamente, il Negoziante potrà installare la App SixthMarket e ricevere i Cittadini SixthContinent che potranno pagare le loro spese con il Reddito di Cittadinanza e i Crediti ricevuti su SixthContinent. Il negoziante pagherà 99 euro (UNA TANTUM).             
                        <br><br>
                        Profitti infiniti 
                        <br><br>
                        Il Market Manager, come ogni altro soggetto all’interno di SixthContinent, riceve una somma pari all’1% dei consumi dei Cittadini invitati su SixthContinent tramite la funzione invita amici, che consente di inviare messaggi di invito a tutti i contatti delle proprie rubriche e agli amici dei Social, tenendo traccia di coloro che si iscriveranno utilizzando il vostro invito.
                        <br><br>
                        I vantaggi per il Negoziante affiliato a SixthContinent:
                        <br>
                        <strong>Nuovi Clienti:</strong>
                        <br>
                        Riceve i Cittadini di SixthContinent che possono pagare tramite la app SixthMARKET utilizzando il Reddito di Cittadinanza ricevuto su SixthContinent. 
                        <br>
                        <strong>Contributi sino al 50%:</strong>
                        <br>
                        I suoi prezzi sono nuovamente competitivi con la concorrenza internazionale e maggiormente attrattivi grazie al contributo massimo del 50% del reddito proveniente da SixthContinent. 
                        <br>

                        <strong>Profitti infiniti:</strong>
                        <br>
                        Puo affiliare Consumatori, ovvero nuovi Cittadini SixthContinent, e guadagnare l’1% dei loro consumi, a vita, in qualunque negozio affiliato SixthContinent nel Mondo li faccia
                        Se vuoi diventare un Broker o saperne di più compila il modulo di adesione. Modulo di adesione                        
                        <br><br>
                    </p>
                </div>
                <div class="filler"></div> <div class="filler"></div></article>
            <div class="richiesta">
                Se vuoi diventare un Market Manager o saperne di più compila il modulo di adesione.
                <a href="#/createbrokerprofile">Modulo di adesione</a>
            </div>
        </div>
    </section>
</div>