<div class="static-block-page">
    <section>
    <h1>{{i18n.footer.contact}}</h1>
    <h2>{{i18n.footer.info}}</h2>
<div class="wrapper-width1">
    <article data-behavior="fill" class="two-columns">
        <div>
        <ul class="address">
        	<li>
        	<p class="email-add"><a href= "mailto:info@sixthcontinent.com" >{{i18n.footer.supporto}}</a></p>
			<p class="strong-text">{{i18n.footer.register.company_name}}</p>
            <p>{{i18n.footer.register.address.center}}</p>
			<p>{{i18n.footer.register.address.place}},
            <p> {{i18n.footer.register.address.city}}
                            {{i18n.footer.register.address.zip}} - 
			{{i18n.footer.register.address.country}}</p>
			</li>
    	</ul>
        </div>
    </article>
</div>
    
    
  