<div class="static-block-page income-page">
  <section ng-if="currentLanguage == 'it'">
    <h1>Reddito</h1>
    <h2>Il Credito SixthContinent è un Reddito di Cittadinanza distribuito da Negozi e Imprese per ogni transazione fatta con i Cittadini di SixthContinent.</h2>
    <div class="income-wrapper">
      <div class="title-1">Il Negozio affiliato, per ogni vendita ad un Cittadino SixthContinent,</div>
      <div class="title-2">RIDISTRIBUISCE IL 6%</div>
      <div class="income-img-section">
        <ul class="income-img-section1 clearfix">
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
        </ul>
        <ul class="income-img-section2 clearfix">
          <li><span>Diviso in parti uguali tra tutti i Cittadini  SixthContinent appartenenti alla Nazione del Consumatore.</span></li>
          <li class="income-small"><span>Al Cittadino che ha invitato su SixthContinent il Consumatore che ha eseguito l’acquisto. (1 Solo Livello)</span></li>
          <li class="income-small"><span>Al Cittadino che ha invitato su SixthContinent il Negozio che ha eseguito la vendita.</span></li>
          <li><span>Diviso in parti uguali tra tutti gli Amici e utenti seguiti su SixthContinent dal Consumatore che ha eseguito l’acquisto.</span></li>
          <li><span>Al Cittadino che ha effettuato l'acquisto.</span></li>
          <li><span>A SixthContinent per poter offrire tutti i suoi servizi gratuitamente.</span></li>
        </ul>
      </div>
    </div>
  </section>
  <section ng-if="currentLanguage == 'en'">
    <h1>Income</h1>
    <h2>The SixthConinent Credit is a Citizen Basic Income distributed by Shops and Companies from each transaction performed with SixthContinent Citizens.</h2>
    <div class="income-wrapper">
      <div class="title-1">For every Sale made to a SixthContinent Citizen, the affiliated Shop</div>
      <div class="title-2">REDISTRIBUTES 6%</div>
      <div class="income-img-section">
        <ul class="income-img-section1 clearfix">
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
          <li>1<span>%</span></li>
        </ul>
        <ul class="income-img-section2 clearfix">
          <li><span>Equally divided among all  SixthContinent Citizens of the Consumer’s Country.</span></li>
          <li class="income-small"><span>To the Citizen who invited on SixthContinent the Consumer making the Purchase. (Only 1 Level)</span></li>
          <li class="income-small"><span>To the Citizen who invited on SixthContinent the Shop making the Sale.</span></li>
          <li><span>Equally divided among Friends and the users followed on SixthContinent by the Consumer making the Purchase.</span></li>
          <li><span>To the Citizen who made the purchase.</span></li>
          <li><span>To SixthContinent, enabling it to provide you all of its services free of charge.</span></li>
        </ul>
      </div>
    </div>
  </section>
</div>
