<div class="static-block-page">
    <section>
    <h1>Negozi e imprese</h1>
    <h2>Se hai un negozio, o una qualsiasi attività commerciale puoi aderire a SixthContinent e sviluppare la tua attività.</h2>
<div class="wrapper-width1">
    <article data-behavior="fill" class="two-columns">
        <div>
            <p><strong>Perchè aderire a SixhtContinent</strong><br><br>
                <strong>Nuovi Clienti</strong><br>
                Ricevi i Cittadini di SixthContinent che possono pagare tramite la app SixthMARKET utilizzando il Reddito di Cittadinanza ricevuto su SixthContinent.
                <br><br>
                <strong>Contributi sino al 50%</strong><br>
                I tuoi prezzi sono nuovamente competitivi con la concorrenza internazionale e maggiormente attrattivi grazie al contributo massimo del 50% del reddito proveniente da SixthContinent.
                <br><br>
                <strong>Profitti infiniti</strong><br>
                Il Negozio puo affiliare Consumatori, ovvero nuovi Cittadini SixthContinent, e guadagnare a vita, l’1% dei loro consumi, in qualunque negozio affiliato SixthContinent nel Mondo li effettuino.
                <br><br>
                <strong>Costo di affiliazione</strong><br>
                Il costo di affiliazione è di <strong>€99 (IVA esclusa)</strong> UNA TANTUM fatturato come spesa pubblicitaria e deducibile dalle tasse secondo l’attuale normativa vigente.

                </strong>.
            </p>
        </div>
        <div>
            <p>
                <strong>Affiliati e ricevi la certificazione SixthContinent</strong> <br>
                Appena sarai affiliato riceverai la vetrofania “SixthContinent Certificate”.
            </p>
            <br>
            <p>
                <strong>Sei già affilato come negoziante? Scarica l'app SixthMarket</strong><br>
                Scarica e installa l'app sul tuo smarphonte e comincia subito a ricevere i Cittadini di SixthContinent che potranno spendere il Reddito di Cittadinanza presso il tuo Negozio.
                <a class="app-button" target="_blank" href="https://itunes.apple.com/it/app/sixthmarket-esercente/id736031912?mt=8&amp;uo=4"><img src="app/assets/images/app-button.png"></a>
                <a class="app-button" target="_blank" href="https://play.google.com/store/apps/details?id=com.sixthcontinent.sixthmarketseller">
                    <img src="https://developer.android.com/images/brand/it_app_rgb_wo_45.png" alt="Android app on Google Play">
                </a>
            </p>
        </div>
     <div class="filler"></div> <div class="filler"></div></article>
    <div class="richiesta">
        Affilia il tuo negozio a SixthContinent ed entra subito in contatto con un Market Manager
        <a data-ng-if="!currentUser.store_profile" href="#/shop_affiliation/{{currentUser.id}}/4">Modulo di adesione</a>
        <a data-ng-if="currentUser.store_profile" href="#/myshops">Modulo di adesione</a>
    </div>
</div>
</section>
</div>