<div class="col-3-layout">
 <left-Panel></left-Panel>
 <!-- <div class="layout-app">  -->
   <div id="content">
    <div class="innerAll">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="inner-container">
          <div class="timeline-cover">
            <div class="widget">
              <div class="widget-body padding-none margin-none">
                <div class="innerAll"> <i class="fa fa-quote-left text-muted pull-left fa-fw"></i>
                  <p class="lead margin-none" ng-bind="i18n.profile.passwords.change_password"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-container">
			<form method="" action="" data-ng-submit= "changePassword()">
				<ul>
          <li>
            <span ng-bind="i18n.profile.passwords.old_password"></span>
            <input type="password" class="form-control bg-gray" data-ng-model="previousPassword" ng-minlength="6" required/>
          </li>
					<li>
						<span ng-bind="i18n.profile.passwords.new_password"></span>
						<input type="password" class="form-control bg-gray" data-ng-model="oldPassword" ng-minlength="6" required/>
					</li>
					<li>
						<span ng-bind="i18n.profile.passwords.retype_password"></span>
						<input type="password" class="form-control bg-gray" data-ng-model="newPassword" ng-minlength="6" required/>
					</li>
					<li>
            <span class="changepass" data-ng-hide="changeLoder"><img data-ng-hide="changeLoder" src="app/assets/images/ajax-loader.gif" alt="logout"/></span>
						<button class="btn btn-primary" data-ng-show="changeLoder" ><span class="spanProfile" ng-bind="i18n.profile.passwords.password_change"></span><i class="fa fa-fw fa-plus"></i></button>
						<button class="btn btn-primary" data-ng-click="go('/profile')" data-ng-show="changeLoder" > <span class="spanProfile" ng-bind="i18n.profile.passwords.cancel"></span><i class="fa fa-fw fa-times"></i></button>
            <div data-ng-class="msgClass" ng-bind="changeMessage"></div>
					</li>
				</ul>
			</form>
          </div>
        </div>
        </div>
        <div class="col-md-4 col-lg-4">
        	<profile-Right-Panel></profile-Right-Panel>
    	</div>
  </div>
</div>
</div>
</div>