<div class="col-3-layout">
  <left-Panel></left-Panel>
    <div id="content">
      <div class="innerAll" >
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="inner-container">
              <div class="shop-tutorial-wrapper">
                <div class="tutorial-header" data-ng-bind="i18n.citizen_tutorial.headline"></div>
                  <div class="tutorial-video-section">
                    <div class="how-works-title" data-ng-bind="i18n.citizen_tutorial.work"></div>
                      <div class="tutorial-video">
                        <a class="video-fancybox fancybox.iframe" ng-if="currentLanguage == 'en'" href="https://www.youtube.com/embed/6RxL0FG8udM?fs=1&amp;autoplay=1"><img src="app/assets/images/tutorial-video-img.jpg" alt="tutorial-video-img" /></a>
                        <a class="video-fancybox fancybox.iframe" ng-if="currentLanguage == 'it'" href="https://www.youtube.com/embed/1HJ7ZPRDrRk?fs=1&amp;autoplay=1"><img src="app/assets/images/tutorial-video-img.jpg" alt="tutorial-video-img"/></a>
                      </div>
                  </div>
              <div class="affiliate-redistribute">
                <div class="redistribute-heading"> 
                    <span data-ng-bind="i18n.citizen_tutorial.sale" class="redistribute-title"></span> 
                    <span data-ng-bind="i18n.citizen_tutorial.percent6" class= "redistribute-subtitle"></span> 
               </div>
                <div class="redistribute-listing">
                  <ul class="clearfix">
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part1"></div>
                    </li>
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part2"></div>
                    </li>
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part3"></div>
                    </li>
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part4"></div>
                    </li>
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part5"></div>
                    </li>
                    <li>
                      <div class="redistribute-list-left">1<span>%</span></div>
                      <div class="redistribute-list-right" data-ng-bind="i18n.citizen_tutorial.part6"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="perform-trans-section">
                <div class="perform-trans-heading">
                  <span data-ng-bind="i18n.citizen_tutorial.perform" class="perform-trans-title"></span>
                  <span data-ng-bind="i18n.citizen_tutorial.business" class="perform-trans-subtitle"></span>
              </div>
                <div class="perform-trans-steps">
                  <ul class="clearfix">
                    <li>
                      <div class="perform-list-img"><img src="app/assets/images/mobile-img1.jpg" alt="mobile-img1" /></div>
                      <div class="perform-content-wrap">
                        <div class="perform-list-content">
                          <div class="perform-list-count">1</div>
                          <div class="perform-list-text" data-ng-bind="i18n.citizen_tutorial.go_shopping"> </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="perform-content-wrap">
                        <div class="perform-list-content">
                          <div class="perform-list-count">2</div>
                          <div class="perform-list-text" data-ng-bind="i18n.citizen_tutorial.select_shop"></div>
                        </div>
                      </div>
                      <div class="perform-list-img"><img src="app/assets/images/mobile-img2.jpg" alt="mobile-img2" /></div>
                    </li>
                    <li>
                      <div class="perform-list-img"><img src="app/assets/images/mobile-img3.jpg" alt="mobile-img3" /></div>
                      <div class="perform-content-wrap">
                        <div class="perform-list-content">
                          <div class="perform-list-count">3</div>
                          <div class="perform-list-text" data-ng-bind="i18n.citizen_tutorial.income"></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="perform-content-wrap">
                        <div class="perform-list-content">
                          <div class="perform-list-count">4</div>
                          <div class="perform-list-text" data-ng-bind="i18n.citizen_tutorial.rate"></div>
                        </div>
                      </div>
                      <div class="perform-list-img"><img src="app/assets/images/mobile-img4.jpg" alt="mobile-img4" /></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tutorial-video-section">
                <div class="tutorial-video">
                    <a class="video-fancybox fancybox.iframe" href="https://www.youtube.com/embed/GGVKmsdYLgE?fs=1&amp;autoplay=1"><img src="app/assets/images/tutorial-video-img.jpg" alt="tutorial-video-img" /></a>
                      </div>
                  </div>
              <div class="tutorial-contact">
                <div class="assistance-contact">
                     <span data-ng-bind="i18n.citizen_tutorial.footer_contact"></span>
                     <span data-ng-bind="i18n.citizen_tutorial.email" class="assistance-support"></span>
               </div>
              </div>
            </div>
              </div>
          </div>     
              <div class="col-md-4 col-lg-4">
              <profile-Right-Panel></profile-Right-Panel>
              </div>
        </div>
      </div>
    </div>
</div>
  <!-- // Content END -->