<div class="wallet-add-account">
	<div class="heading"><span ng-bind="i18n.citizen_wallet.paypal_head"></span></div>
	<ul>
		<li><img src="app/assets/images/paypal.png" alt="" titile=""></li><li><img src="app/assets/images/master-visa.png" alt="" titile=""></li>
	</ul>
</div>
<div class="wallet-account-list">
	<div class="heading"><span ng-bind="i18n.citizen_wallet.paypal_list"></span></div>
	<table class="table">
		<thead>
			<tr>
				<th class="first-row" ng-bind="i18n.citizen_wallet.select"></th>
				<th class="sec-row" ng-bind="i18n.citizen_wallet.card_account">Carta di Credito/Conto</th>
				<th class="third-row" ng-bind="i18n.citizen_wallet.holder">Titolare</th>
				<th class="fourth-row" ng-bind="i18n.citizen_wallet.date_of_expiry">Data di Scadenza</th>
				<th class="fifth-row"></th>
			</tr>
		</thead>
		<tbody>
		  <tr>
			<td><input type="checkbox"></td>
			<td><span class="card-type">Visa</span> termina 2353</td>
			<td>Fabrizio Politi</td>
			<td>08/2015</td>
			<td><button ng-bind="i18n.citizen_wallet.remove">Rimuovi</button></td>
		  </tr>
		  <tr>
			<td><input type="checkbox"></td>
			<td><span class="card-type">Visa</span> termina 2353</td>
			<td>Fabrizio Politi</td>
			<td>08/2015</td>
			<td><button ng-bind="i18n.citizen_wallet.remove">Rimuovi</button></td>
		  </tr>
		  <tr>
			<td><input type="checkbox"></td>
			<td><span class="card-type">Visa</span> termina 2353</td>
			<td>Fabrizio Politi</td>
			<td>08/2015</td>
			<td><button ng-bind="i18n.citizen_wallet.remove">Rimuovi</button></td>
		  </tr>
		</tbody>
	</table>
</div>