<div class="col-2-layout">
<!-- Content START -->
<div id="content" class="container-right-fluid-page">
    <!-- <div class="layout-app">  -->
    <div class="innerAll">
    <div class="row">
        <div class="col-lg-8 col-md-8">
        <div class="inner-container">
            <user-Cover-Profile-Panel></user-Cover-Profile-Panel>
            <div class="friends-list-container">
                <friend-List></friend-List>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <profile-Right-Panel></profile-Right-Panel>
        </div>
    </div>
    </div>
</div>
<div class="clearfix"></div>
</div>