<div class="project-wall">
    <div class="project storecoverid{{store.id}}" data-ng-repeat="store in topLinkedCitizen" >
       <div>
            <a>
                <div class="tile-head">
                <h2><span data-ng-if="store.user_info.first_name != ''" ng-bind="store.user_info.first_name"></span>
                <span data-ng-if="store.user_info.last_name != ''" ng-bind="store.user_info.last_name"></span>
                </h2>
                </div>
                <ul>
                    <li>
                        <span data-ng-if="store.user_info.profile_image_thumb != ''"style="background-image:url('{{store.user_info.profile_image_thumb}}');" title="{{store.user_info.first_name}} {{store.user_info.last_name}}">
                        </span>
                        <span data-ng-if="store.user_info.profile_image_thumb == ''" style="background-image:url('app/assets/images/prof-pic.jpg');" title="{{store.user_info.first_name}} {{store.user_info.last_name}}">
                        </span>
                    </li>
                </ul>
                <h3 ng-bind="store.user_info.country"></h3> 
            </a>
        </div>
    </div>
</div>