<div class="container-fluid register-sixth-container"> 

  <!--register sixth continent-->
  <div class="map-img-cont">
  <div class="broker-sixth-one-step">
    <div class="register-sixth-continent-form-section">
    <div data-ng-show="isLoading" class="loader-container">
        <img src="app/assets/images/login-loader.gif" alt="{{i18n.home.loading}}..." />
    </div>
      <div class="register-sixth-continent-one-step clearfix" data-ng-hide="isLoading">     
        <div class="forgot-sixth-continent">
          <ul>
            <li data-ng-bind="i18n.verify_user.resend_link"></li>
          </ul>
        </div>
      
        <form class="form-container" name="forget-password" method="POST" data-ng-submit="Resendlink()" name="resendlinkForm" novalidate>
            <p ng-class="msgcls" data-ng-bind="message"></p>
            <p data-ng-bind="i18n.verify_user.resend_title"></p>
            <ul class="register-sixth-one-step-field">
                <li>
                <div class="register-sixth-one-step-full">
                  <input type="email" placeholder="{{i18n.home.password_forgot.email}}" data-ng-model="email" data-ng-class="{ 'has-error' : hasemailerror}" />
                  <p class="emailmsgcls text-red" data-ng-bind="emailmessage"></p>
                </div>
                </li>
            </ul>

            <div class="register-sixth-one-step-button ">
                <div class="resigter-one-step-button-right">
                    <input type="submit" name="" value="{{i18n.verify_user.request_new}}" />
                </div>
            </div>
        </form>
      </div>  
    </div>  
  </div>
  </div>
  <!--register sixth continent--> 
  
  <!--footer-->
  <footer-logout></footer-logout>
<!--footer-->
<div ng-include="app/views/footer.html"></div>
</div>
<!-- // Main Container Fluid END --> 