<div class="container-fluid register-sixth-container"> 

  <!--register sixth continent-->
  <div class="map-img-cont">
  <div class="broker-sixth-one-step">
    <div class="register-sixth-continent-form-section">
      <!--
      <div class="register-sixth-one-step-section">
        <div class="register-one-step-change-dei" data-ng-bind="i18n.login.reset_password.step_one"></div>
      </div>
      -->
    <div data-ng-show="isLoading" class="loader-container">
        <img src="app/assets/images/login-loader.gif" alt="loading..." />
    </div>
      <div class="register-sixth-continent-one-step" data-ng-hide="isLoading">     
        <div class="forgot-sixth-continent">
          <ul>
            <li data-ng-bind="i18n.login.reset_password.password_reset"></li>
          </ul>
        </div>
        <div class="reset-succces-msg">
          <p data-ng-bind="i18n.login.reset_password.reset_password_proccess2"></p>
        </div>
      
        <form data-ng-hide="isLoading" name="reset-password" method="POST"  data-ng-submit="resetPassword()">
            <div class="text-success text-center" data-ng-bind="requestPwdMessage"></div>
            <div data-ng-show="reseterror" class="text-red text-center" data-ng-bind="message"></div>
            <ul class="register-sixth-one-step-field">
                <li>
                  <div class="register-sixth-one-step-full">
                    <input type="hidden" placeholder="{{i18n.login.reset_password.token}}" data-ng-model="reset.token"/>
                    <input type="password" placeholder="{{i18n.login.reset_password.new_password}}" data-ng-model="reset.password" ng-minlength="6" required />
                  </div>
                </li>
                <li>
                <div class="register-sixth-one-step-full">
                <input type="password" placeholder="{{i18n.login.reset_password.re_password}}" data-ng-model="reset.repassword" ng-minlength="6" required />
                </div>
                </li>
            </ul>

            <div class="register-sixth-one-step-button">
                <div class="resigter-one-step-button-right">
                <input type="button" name="" value="{{i18n.profile.passwords.cancel}}" data-ng-click="cancelForgotPassword()"/>
                <input type="submit" name="" value="{{i18n.store.submit}}" />
                
                </div>
            </div>
        </form>
      </div>  
    </div>  
  </div>
  </div>
  <!--register sixth continent--> 
  
  <!--footer-->
  <footer-logout></footer-logout>
<!--footer-->
<div ng-include="app/views/footer.html"></div>
</div>
<!-- // Main Container Fluid END --> 