<aside>
<div class="invita-amici">
<div class="adver-mutal">
<div class="adver-mutal-section">
<h2>Cereca Amici</h2>
</div>

<div class="adver-mutal-second">

<div class="people-you-may-know-panel">
<div class="people-may-know">Notifications</div>
<div class="people-may-see-all"><a href="javascript:void(0)">See all</a></div>
</div>

<ul class="adver-mutal-friend">
<!--mutual friend-->
<li>
<div class="adver-mutal-friend-img"><img src="app/assets/images/people-mutual.png" alt="" titile="" /></div>
<div class="adver-mutual-friend-right-section">
<h3>Coffee Dude</h3>
<h4>1 mutual friend</h4>
<div class="adver-mutal-add-friend"><input type="button" value="Add Friend" /></div>
</div>
</li>
<!--mutual friend-->

<!--mutual friend-->
<li>
<div class="adver-mutal-friend-img"><img src="app/assets/images/people-mutual.png" alt="" titile="" /></div>
<div class="adver-mutual-friend-right-section">
<h3>Coffee Dude</h3>
<h4>1 mutual friend</h4>
<div class="adver-mutal-add-friend"><input type="button" value="Add Friend" /></div>
</div>
</li>
<!--mutual friend-->

<!--mutual friend-->
<li>
<div class="adver-mutal-friend-img"><img src="app/assets/images/people-mutual.png" alt="" titile="" /></div>
<div class="adver-mutual-friend-right-section">
<h3>Coffee Dude</h3>
<h4>1 mutual friend</h4>
<div class="adver-mutal-add-friend"><input type="button" value="Add Friend" /></div>
</div>
</li>
<!--mutual friend-->

<!--mutual friend-->
<li>
<div class="adver-mutal-friend-img"><img src="app/assets/images/people-mutual.png" alt="" titile="" /></div>
<div class="adver-mutual-friend-right-section">
<h3>Coffee Dude</h3>
<h4>1 mutual friend</h4>
<div class="adver-mutal-add-friend"><input type="button" value="Add Friend" /></div>
</div>
</li>
<!--mutual friend-->

</ul>

</div>

</div>
<h2>Invita amici</h2>
<p>
Invita un tuo amico alla <br>
community SixthContinent<br> 
<strong>e guadagnerai l’1% dai loro<br>
consumi</strong>
</p>
<p class="link">
Condividi il tuo link di invito <br>
<span>http://www.sixthcontinent.org/landing</span>
</p>
<a href="#" class="copia-link">Copia link</a>
<div class="email">
<form>
<ul>
<li>
<p>Invita amici via email</p>
<input type="text" class="fa fa-envelope" placeholder="Inserisci email">
</li>
</ul>
<button type="submit">Invia</button>
</form>
</div>
</div>
<div class="supporto">
<h2>Supporto</h2>
<a href="#"><div><i class="fa fa-envelope-o"></i></div><br>supporto@sixthcontinent.org</a>
</div>
<div class="app">
<h2>App</h2>
<div><h3>Esercente</h3>
<a href="#"><img src="app/assets/images/gplay-button.png"></a>
<a href="#"><img src="app/assets/images/appstore-button.png"></a>
<h3>Consumatore</h3>
<a href="#"><img src="app/assets/images/gplay-button.png"></a>
<a href="#"><img src="app/assets/images/appstore-button.png"></a>
</div>
</div>
</aside>