<div id="content" class="container-right-fluid-page">
	<!-- <div class="layout-app">  -->
	<div class="innerAll">
		<div class="tAndC" style="text-align:center;">
			<h3 style="padding-bottom:15px;" data-ng-bind="i18n.shop_payment.cancel_payment.title"></h3>
			<p data-ng-bind="i18n.shop_payment.cancel_payment.description"></p>
			<span class="success-btn">
            <a data-ng-href="{{backurl}}" class="btn btn-primary" data-ng-bind="i18n.shop_payment.cancel_payment.cancel_btn"></a>
            </span>
        </div>
		</div>
	</div>
</div>
<!-- // Content END -->

<div class="clearfix"></div>