<div class="transaction-tab">
	<ul>
		<li  ng-class="{active:isActiveTab(1)}"  class="" ng-click="getData(1);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.sale_lbl"></span>
		</li>
		<li  ng-class="{active:isActiveTab(2)}"  class="" ng-click="getData(2);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.shopping_card_lbl"></span>
		</li>
		<li  ng-class="{active:isActiveTab(3)}"  class="" ng-click="getData(3);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.coupon"></span>
		</li>
		<li  ng-class="{active:isActiveTab(4)}"  class="" ng-click="getData(4);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.historical_lbl"></span>
		</li>
		<li  ng-class="{active:isActiveTab(5)}"  class="" ng-click="getData(5);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.historical_sale_lbl"></span>
		</li>
		<li  ng-class="{active:isActiveTab(6)}"  class="" ng-click="getData(6);" >
			<span class="trans-text" data-ng-bind="i18n.store.wallet.payment_method"></span>
		</li>
	</ul>
</div>	