    <div class="col-2-layout">
        <div class="container-right-fluid-page" id="content">
        <div class="innerAll">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="inner-container">
    <div class="store-details-section">
        <storeprofile></storeprofile> 
    </div>
    <div class="map-img-cont" ng-controller="DeatilStoreController">
    <div>
        <div class="register-sixth-continent-form-section">
            <div class="clearfix">
            <div class="form-container data-store-form clearfix">
            <form name="shopEditForm" action="" data-ng-submit="updateEditStore(shopEditForm.$valid)" novalidate>
            <div class="form-one">
            <div class="form-heading" data-ng-bind="i18n.shop_affiliation.detail.data_store"></div>
            <ul class="clearfix">
                <li>
                    <input type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.store_name}}" id="storename" name="storename" ng-model="store.name" ng-class="{ 'has-error' : (shopEditForm.storename.$dirty&&shopEditForm.storename.$invalid&&shopEditForm.storename.$error.required ) || (formSubmitted && !store.name)}" required />
                    <div ng-show="(shopEditForm.storename.$dirty&&shopEditForm.storename.$invalid&&shopEditForm.storename.$error.required ) || (formSubmitted && !store.name)" class="text-red" data-ng-bind="i18n.store.enter_name"></div>
                </li>
                <li class="two-inputs">
                    <div class="first-input">
                    <input type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.company_name}}" id="business_name" name="business_name" ng-model="store.business_name" ng-class="{ 'has-error' :(shopEditForm.business_name.$dirty&&shopEditForm.business_name.$invalid&&shopEditForm.business_name.$error.required ) || (formSubmitted && !store.business_name) }" required/>
                    <div ng-show="(shopEditForm.business_name.$dirty&&shopEditForm.business_name.$invalid&&shopEditForm.business_name.$error.required ) || (formSubmitted && !store.business_name)" class="text-red" data-ng-bind="i18n.store.enter_storename"></div>
                    </div>
                    <div class="second-input">
                    <select class="form-control bg-gray" id ="legal_status" name="legal_status" ng-model="store.legal_status" ng-options="legalForm.value for legalForm in legalForms track by legalForm.id" ng-class="{ 'has-error' : (shopEditForm.legal_status.$dirty&&shopEditForm.legal_status.$invalid&&shopEditForm.legal_status.$error.required ) || (formSubmitted && !store.legal_status) }" required>
                    <option selected="selected" value="">{{i18n.shop_affiliation.detail.legal_form}}</option>     
                    </select>
                    <div ng-show="(shopEditForm.legal_status.$dirty&&shopEditForm.legal_status.$invalid&&shopEditForm.legal_status.$error.required ) || (formSubmitted && !store.legal_status)" class="text-red" data-ng-bind="i18n.store.enter_storestatus"></div>
                    </div>
                </li>
                <li class="two-inputs">
                    <div class="first-input">
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.vat_code}}" id="vatNumber" name="vatNumber" ng-model="store.vat_number" maxlength="40" data-ng-maxlength="40" ng-class="{ 'has-error' : (shopEditForm.vatNumber.$dirty&&shopEditForm.vatNumber.$invalid&&shopEditForm.vatNumber.$error.required ) || (formSubmitted && !store.vat_number)||(shopEditForm.vatNumber.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2,40}$/" required/>
                    <div ng-show="(shopEditForm.vatNumber.$dirty&&shopEditForm.vatNumber.$invalid&&shopEditForm.vatNumber.$error.required ) || (formSubmitted && !store.vat_number)||(shopEditForm.vatNumber.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storevat"></div>
                    <div ng-show="vatNumberInvalid" class="text-red" data-ng-bind="createStoreErrorMgs"></div>
                    </div>
                    <div class="second-input">
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" maxlength="40" data-ng-maxlength="40" placeholder="{{i18n.shop_affiliation.detail.tax_code}}" id="fiscalcode" name="fiscalcode" ng-model="store.fiscal_code" ng-class="{ 'has-error' : (shopEditForm.fiscalcode.$dirty&&shopEditForm.fiscalcode.$invalid&&shopEditForm.fiscalcode.$error.required ) || (formSubmitted && !store.fiscal_code) ||(shopEditForm.fiscalcode.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2,40}$/" required/>
                    <div ng-show="(shopEditForm.fiscalcode.$dirty&&shopEditForm.fiscalcode.$invalid&&shopEditForm.fiscalcode.$error.required ) || (formSubmitted && !store.fiscal_code)||(shopEditForm.fiscalcode.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storetax"></div>
                    </div>   
                </li>
                <li class="two-inputs email-input">
                    <div class="first-input">
                    <div class="hint-message">
                    <span data-ng-bind="i18n.shop_affiliation.detail.email_desc"></span>
                    </div>
                    <input stopccp type="email" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.email_address}}" id="shopemail" name="shopemail" ng-model="store.email" ng-class="{ 'has-error' : (shopEditForm.shopemail.$dirty&&shopEditForm.shopemail.$invalid&&shopEditForm.shopemail.$error.required ) || (formSubmitted && !store.email)||(shopEditForm.shopemail.$error.pattern && visited) }" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/" required/>
                    <div ng-show="(shopEditForm.shopemail.$dirty&&shopEditForm.shopemail.$invalid&&shopEditForm.shopemail.$error.required ) || (formSubmitted && !store.email)||(shopEditForm.shopemail.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.register.enter_valid_email"></div>
                    </div>
                    <div class="second-input">
                    <div class="hint-message"><span data-ng-bind="i18n.shop_affiliation.detail.confirm_email_desc"></span>
                    </div>
                    <input stopccp type="email" id="confirmemail" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.confirm_email_address}}" name="confirmemail" ng-model="store.confirmemail" ng-class="{ 'has-error' : (shopEditForm.confirmemail.$dirty&&shopEditForm.confirmemail.$invalid&&shopEditForm.confirmemail.$error.required ) || (formSubmitted && !store.confirmemail) || shopEditForm.confirmemail.$dirty && (store.email !== store.confirmemail)}" required/> 
                    <div ng-show="(shopEditForm.confirmemail.$dirty&&shopEditForm.confirmemail.$invalid&&shopEditForm.confirmemail.$error.required ) || (formSubmitted && !store.confirmemail) || shopEditForm.confirmemail.$dirty && (store.email !== store.confirmemail)" class="text-red" data-ng-bind="i18n.store.storeemail_not_same"></div>
                </div>
                </li>
                <li class="email-input">
                    <div class="first-input">
                    <div class="hint-message">
                    <span data-ng-bind="i18n.shop_affiliation.detail.phone_desc"></span>    
                    </div>
                    <input type="text" value="{{store.phone}}" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.phone_number}}" id="shopphone" name="shopphone" ng-model="store.phone" maxlength="15" data-ng-maxlength="15" ng-class="{ 'has-error' : (shopEditForm.shopphone.$dirty&&shopEditForm.shopphone.$invalid&&shopEditForm.shopphone.$error.required ) || (formSubmitted && !store.phone)||(shopEditForm.shopphone.$error.pattern && visited)}" ng-pattern="/^\d{10,15}$/" required/>
                    <div ng-show="(shopEditForm.shopphone.$dirty&&shopEditForm.shopphone.$invalid&&shopEditForm.shopphone.$error.required ) || (formSubmitted && !store.phone)||(shopEditForm.shopphone.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storenumber"></div>
                    </div>
                </li>
                <li>
                    <input type="text" class="form-control bg-gray"ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.iban_code}}" id="iban" name="iban" ng-model="store.iban" maxlength="40" data-ng-maxlength="40" ng-class="{ 'has-error' : (shopEditForm.iban.$dirty&&shopEditForm.iban.$invalid&&shopEditForm.iban.$error.required ) || (formSubmitted && !store.iban) ||(shopEditForm.iban.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2,40}$/" required/>
                    <div ng-show="(shopEditForm.iban.$dirty&&shopEditForm.iban.$invalid&&shopEditForm.iban.$error.required ) || (formSubmitted && !store.iban)||(shopEditForm.iban.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storeiban"></div>
                    <div ng-show="ibanNumberInvalid" class="text-red" data-ng-bind="createStoreErrorMgs"></div>
                </li>
                <li class="two-inputs category-dropdown">
                <div class="first-input">
                    <select class="form-control bg-gray" id="storecategory" name="storecategory" ng-model="store.storecategory" ng-options="category.category_name for category in categories track by category.id" data-ng-change="getSubCategory()" ng-class="{ 'has-error' : (shopEditForm.storecategory.$dirty&&shopEditForm.storecategory.$invalid&&shopEditForm.storecategory.$error.required ) || (formSubmitted && !store.storecategory) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.category}}</option>  
                    </select>
                    <div ng-show="(shopEditForm.storecategory.$dirty&&shopEditForm.storecategory.$invalid&&shopEditForm.storecategory.$error.required ) || (formSubmitted && !store.storecategory)" class="text-red" data-ng-bind="i18n.store.enter_storecategory"></div>
                </div>
                <div class="second-input wait-sub-loader">
                    <select class="form-control bg-gray" ng-model="store.subcategory" data-ng-options="subcategory.category_name for subcategory in subcategories track by subcategory.id" ng-disabled="enableSubcategory">
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.sub_category}}</option>
                    </select>
                    <div class="subcategory-loader" ng-show="subcategoryLoader">
                        <img src="app/assets/images/proceed.gif">
                    </div>
                </div>
                </li>
                <li class="shop-edit-suggesion">
                    <input type="text" class="form-control bg-gray keyword" placeholder="{{i18n.shop_affiliation.detail.keyword}}" ng-model="store.keywords" id="categoryKeyword"  ng-keydown="keywordKeyDown($event)" ng-disabled="enableKeyword" ng-blur="clearKeyList()"/>
                    <ul id="suggestions" class="suggestions-list">
                        <li ng-repeat="keyword in keywords" class="blockSpan" ng-click="storeKeyword(keyword)" ng-mouseover="$parent.keywordIndex=$index" ng-class="{active : keywordIndex===$index}" data-ng-bind="keyword.name"></li>
                    </ul>
                </li>
                <li>
                    <div class="second-input keyword-load-img">
                    <img class="loadicn" src="app/assets/images/proceed.gif" data-ng-show="showCatKeyLoading">
                    </div>
                    <ul>
                    <li class="category-tags form-control bg-gray">
                        <div ng-repeat="keyword in keywordList track by $index" class="tag">
                            <span class="tagName" data-ng-bind="keyword"></span>
                            <span class="closeBtn" ><b class="fa fa-times cross" data-ng-click="removeKeyword($index)"></b></span>
                        </div>
                    </li>
                </ul>
                </li>
                <li>
                    <textarea class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.description}}" id="description" name="description" ng-model="store.description" ng-class="{ 'has-error' : (shopEditForm.description.$dirty&&shopEditForm.description.$invalid&&shopEditForm.description.$error.required ) || (formSubmitted && !store.description) }" required></textarea>
                    <div ng-show="(shopEditForm.description.$dirty&&shopEditForm.description.$invalid&&shopEditForm.description.$error.required ) || (formSubmitted && !store.description)" class="text-red" data-ng-bind="i18n.store.enter_storedesc"></div>             
                </li>        
                <li class="form-subheading" data-ng-bind="i18n.shop_affiliation.detail.registered_office_label"></li>
                <li class="two-inputs">
                <div class="first-input">
                    <select class="form-control bg-gray" id="regofficecountry" name="regofficecountry" data-ng-model="store.regOfficeCountry" data-ng-options="country.country for country in countries track by country.id" ng-class="{ 'has-error' : (shopEditForm.regofficecountry.$dirty&&shopEditForm.regofficecountry.$invalid&&shopEditForm.regofficecountry.$error.required ) || (formSubmitted && !store.regOfficeCountry) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.country}}</option>
                    </select>
                    <div ng-show="(shopEditForm.regofficecountry.$dirty&&shopEditForm.regofficecountry.$invalid&&shopEditForm.regofficecountry.$error.required ) || (formSubmitted && !store.regOfficeCountry)" class="text-red" data-ng-bind="i18n.store.enter_country"></div>
                </div>
                <div class="second-input">   
                    <select class="form-control bg-gray" id="businessregion" name="businessregion" ng-model="store.business_region" data-ng-options="region.region for region in regions track by region.id" ng-class="{ 'has-error' : (shopEditForm.businessregion.$dirty&&shopEditForm.businessregion.$invalid&&shopEditForm.businessregion.$error.required ) || (formSubmitted && !store.business_region) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.region}}</option>
                    </select>
                    <div ng-show="(shopEditForm.businessregion.$dirty&&shopEditForm.businessregion.$invalid&&shopEditForm.businessregion.$error.required ) || (formSubmitted && !store.business_region)" class="text-red" data-ng-bind="i18n.store.enter_storeregregion"></div>    
                </div>
                </li>
                <li class="three-inputs">
                    <div class="two-inputs">
                    <div class="first-input clearfix">
                    <input type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.city}}" id="businesscity" name="businesscity" ng-model="store.business_city" maxlength="20" data-ng-maxlength="20" ng-class="{ 'has-error' : (shopEditForm.businesscity.$dirty&&shopEditForm.businesscity.$invalid&&shopEditForm.businesscity.$error.required ) || (formSubmitted && !store.business_city)}" required/>
                    <div ng-show="(shopEditForm.businesscity.$dirty&&shopEditForm.businesscity.$invalid&&shopEditForm.businesscity.$error.required ) || (formSubmitted && !store.business_city)" class="text-red" data-ng-bind="i18n.store.enter_storeregcity"></div>
                    </div>
                    <div class="second-input clearfix">
                    <div class="input-two">
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.prov}}" id="province" name="province" ng-model="store.province" maxlength ="2" data-ng-maxlength="2" ng-class="{ 'has-error' : (shopEditForm.province.$dirty&&shopEditForm.province.$invalid&&shopEditForm.province.$error.required ) || (formSubmitted && !store.province)||(shopEditForm.province.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2}$/" required/>
                    <div ng-show="(shopEditForm.province.$dirty&&shopEditForm.province.$invalid&&shopEditForm.province.$error.required ) || (formSubmitted && !store.province)||(shopEditForm.province.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storeregprovince"></div>
                    </div>
                    <div class="input-three"> 
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.cap}}" id="regofficezip" name="regofficezip" ng-model="store.zip" maxlength ="5" data-ng-maxlength="5" ng-class="{ 'has-error' : (shopEditForm.regofficezip.$dirty&&shopEditForm.regofficezip.$invalid&&shopEditForm.regofficezip.$error.required ) || (formSubmitted && !store.zip)||(shopEditForm.regofficezip.$error.pattern && visited)}" ng-pattern="/^\d{5}$/" required/>
                    <div ng-show="(shopEditForm.regofficezip.$dirty&&shopEditForm.regofficezip.$invalid&&shopEditForm.regofficezip.$error.required ) || (formSubmitted && !store.zip)||(shopEditForm.regofficezip.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storevalidregzip"></div>
                    </div>  
                    </div>
                    </div>
                </li>
                <li>
                    <input type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.street}}" id="businessaddress" name="businessaddress" ng-model="store.business_address" ng-class="{ 'has-error' : (shopEditForm.businessaddress.$dirty&&shopEditForm.businessaddress.$invalid&&shopEditForm.businessaddress.$error.required ) || (formSubmitted && !store.business_address) }" required/>
                    <div ng-show="(shopEditForm.businessaddress.$dirty&&shopEditForm.businessaddress.$invalid&&shopEditForm.businessaddress.$error.required ) || (formSubmitted && !store.business_address)" class="text-red" data-ng-bind="i18n.store.enter_storeregaddress"></div>      
                </li>
                </ul>
                </div>
                    
                <div class="form-two">
                <div class="form-heading" data-ng-bind="i18n.shop_affiliation.detail.sale_point_label"></div>
                <ul class="clearfix">
                <li class="two-inputs">
                <div class="first-input">
                    <select class="form-control bg-gray" id="salecountry" name="salecountry" data-ng-model="store.sale_country" data-ng-options="country.country for country in countries track by country.id" ng-class="{ 'has-error' : (shopEditForm.salecountry.$dirty&&shopEditForm.salecountry.$invalid&&shopEditForm.salecountry.$error.required ) || (formSubmitted && !store.sale_country) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.country}}</option>
                    </select> 
                    <div ng-show="(shopEditForm.salecountry.$dirty&&shopEditForm.salecountry.$invalid&&shopEditForm.salecountry.$error.required ) || (formSubmitted && !store.sale_country)" class="text-red" data-ng-bind="i18n.store.enter_hqstorecountry"></div>
                </div>
                <div class="second-input">
                    <select class="form-control bg-gray" id="saleregion" name="saleregion" ng-model="store.sale_region" data-ng-options="region.region for region in regions track by region.id" ng-class="{ 'has-error' : (shopEditForm.saleregion.$dirty&&shopEditForm.saleregion.$invalid&&shopEditForm.saleregion.$error.required ) || (formSubmitted && !store.sale_region) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.region}}</option>
                    </select>
                    <div ng-show="(shopEditForm.saleregion.$dirty&&shopEditForm.saleregion.$invalid&&shopEditForm.saleregion.$error.required ) || (formSubmitted && !store.sale_region)" class="text-red" data-ng-bind="i18n.store.enter_hqstoreregion"></div>
                </div>
                </li>
                <li class="three-inputs">
                    <div class="two-inputs">
                    <div class="first-input clearfix">
                    <input type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.city}}" id="salecity" name="salecity" ng-model="store.sale_city" maxlength ="20" data-ng-maxlength="20" ng-class="{ 'has-error' : (shopEditForm.salecity.$dirty&&shopEditForm.salecity.$invalid&&shopEditForm.salecity.$error.required ) || (formSubmitted && !store.sale_city)}" required/>
                    <div ng-show="(shopEditForm.salecity.$dirty&&shopEditForm.salecity.$invalid&&shopEditForm.salecity.$error.required ) || (formSubmitted && !store.sale_city)" class="text-red" data-ng-bind="i18n.store.enter_hqstorecity"></div>
                    </div>
                    <div class="second-input clearfix">
                    <div class="input-two">
                    <input id="saleprovince" type="text" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.prov}}" name="saleprovince" ng-model="store.sale_province" maxlength ="2" data-ng-maxlength="2" ng-class="{ 'has-error' : (shopEditForm.saleprovince.$dirty&&shopEditForm.saleprovince.$invalid&&shopEditForm.saleprovince.$error.required ) || (formSubmitted && !store.sale_province)||(shopEditForm.saleprovince.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2}$/" required/>
                    <div ng-show="(shopEditForm.saleprovince.$dirty&&shopEditForm.saleprovince.$invalid&&shopEditForm.saleprovince.$error.required ) || (formSubmitted && !store.sale_province)||(shopEditForm.saleprovince.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_hqstoreprovince"></div>
                    </div>
                    <div class="input-three">
                    <input id="salezip" type="text" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.cap}}" name="salezip" ng-model="store.sale_zip" maxlength ="5" data-ng-maxlength="5" data-ng-minlength="5" ng-class="{ 'has-error' : (shopEditForm.salezip.$dirty&&shopEditForm.salezip.$invalid&&shopEditForm.salezip.$error.required ) || (formSubmitted && !store.sale_zip)||(shopEditForm.salezip.$error.pattern && visited)}" ng-pattern="/^\d{5}$/" required/>
                    <div ng-show="(shopEditForm.salezip.$dirty&&shopEditForm.salezip.$invalid&&shopEditForm.salezip.$error.required ) || (formSubmitted && !store.sale_zip)||(shopEditForm.salezip.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storevalidregzip"></div>
                    </div>    
                    </div>
                    </div>
                </li>
                <li>
                    <input id="saleaddress" type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.street}}" name="saleaddress" ng-model="store.sale_address" ng-class="{ 'has-error' : (shopEditForm.saleaddress.$dirty&&shopEditForm.saleaddress.$invalid&&shopEditForm.saleaddress.$error.required ) || (formSubmitted && !store.sale_address)}" required/>
                    <div ng-show="(shopEditForm.saleaddress.$dirty&&shopEditForm.saleaddress.$invalid&&shopEditForm.saleaddress.$error.required ) || (formSubmitted && !store.sale_address)" class="text-red" data-ng-bind="i18n.store.enter_hqstoreaddress"></div>     
                </li> 
                 <li>
                <autocomplete-map></autocomplete-map>
                <input type="hidden" class="form-control bg-gray" id="longitude" ng-model="store.longitude"/>
                <input type="hidden" class="form-control bg-gray" id="latitude" ng-model="store.latitude" ng-model="store.latitude"/> 
                <input type="hidden" class="form-control bg-gray" id="mapplace" ng-model="store.map_place"/>
                </li> 
                <li class="two-inputs">
                    <div class="first-input">
                    <div class="hint-message" data-ng-bind="i18n.shop_affiliation.detail.contact_email_desc"></div>
                    <input type="email" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.email_address}}" id="saleemail" name="saleemail" ng-model="store.sale_email" ng-class="{ 'has-error' : (shopEditForm.saleemail.$dirty&&shopEditForm.saleemail.$invalid&&shopEditForm.saleemail.$error.required ) || (formSubmitted && !store.sale_email)||(shopEditForm.saleemail.$error.pattern && visited)}" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/" required/>
                    <div ng-show="(shopEditForm.saleemail.$dirty&&shopEditForm.saleemail.$invalid&&shopEditForm.saleemail.$error.required ) || (formSubmitted && !store.sale_email)||(shopEditForm.saleemail.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.register.enter_valid_email"></div>
                    </div>
                    <div class="second-input">
                    <div class="hint-message" data-ng-bind="i18n.shop_affiliation.detail.contact_phone_desc"></div>
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.phone_number}}" id="salephonenumber" name="salephonenumber" ng-model="store.sale_phone_number" maxlength="15" data-ng-maxlength="15" ng-class="{ 'has-error' : (shopEditForm.salephonenumber.$dirty&&shopEditForm.salephonenumber.$invalid&&shopEditForm.salephonenumber.$error.required ) || (formSubmitted && !store.sale_phone_number) ||(shopEditForm.salephonenumber.$error.pattern && visited)}" ng-pattern="/^\d{10,15}$/" required/>
                    <div ng-show="(shopEditForm.salephonenumber.$dirty&&shopEditForm.salephonenumber.$invalid&&shopEditForm.salephonenumber.$error.required ) || (formSubmitted && !store.sale_phone_number)||(shopEditForm.salephonenumber.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_hqstorephone"></div>
                </div>
                </li>
                </ul>
                </div>
                
                <div class="form-three">
                <div class="form-heading" data-ng-bind="i18n.shop_affiliation.detail.legal_data_label"></div>
                <ul class="clearfix">
                <li class="two-inputs">
                    <input type="text" class="form-control bg-gray" ng-blur="visited = true" placeholder="{{i18n.shop_affiliation.detail.tax_code}}" id="represfiscalcode" name="represfiscalcode" ng-model="store.repres_fiscal_code" maxlength="40" data-ng-maxlength="40" ng-class="{ 'has-error' : (shopEditForm.represfiscalcode.$dirty&&shopEditForm.represfiscalcode.$invalid&&shopEditForm.represfiscalcode.$error.required ) || (formSubmitted && !store.repres_fiscal_code) ||(shopEditForm.repres_fiscal_code.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2,40}$/" required/>
                    <div ng-show="(shopEditForm.represfiscalcode.$dirty&&shopEditForm.represfiscalcode.$invalid&&shopEditForm.represfiscalcode.$error.required ) || (formSubmitted && !store.repres_fiscal_code)||(shopEditForm.represfiscalcode.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_legalTaxCode"></div>    
                </li>
                <li class="two-inputs">
                <div class="first-input">
                    <input id="represfname" type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.name}}" name="represfname" ng-model="store.repres_first_name" maxlength="20" data-ng-maxlength="20" ng-class="{ 'has-error' : (shopEditForm.represfname.$dirty&&shopEditForm.represfname.$invalid&&shopEditForm.represfname.$error.required ) || (formSubmitted && !store.repres_first_name)}" required/>
                    <div ng-show="(shopEditForm.represfname.$dirty&&shopEditForm.represfname.$invalid&&shopEditForm.represfname.$error.required ) || (formSubmitted && !store.repres_first_name)" class="text-red" data-ng-bind="i18n.store.enter_firstName"></div>
                </div>
                <div class="second-input"> 
                    <input id="represlname" type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.last_name}}" name="represlname" ng-model="store.repres_last_name" maxlength="20" data-ng-maxlength="20" ng-class="{ 'has-error' : (shopEditForm.represlname.$dirty&&shopEditForm.represlname.$invalid&&shopEditForm.represlname.$error.required ) || (formSubmitted && !store.repres_last_name)}" required/>
                    <div ng-show="(shopEditForm.represlname.$dirty&&shopEditForm.represlname.$invalid&&shopEditForm.represlname.$error.required ) || (formSubmitted && !store.repres_last_name)" class="text-red" data-ng-bind="i18n.store.enter_lastName"></div>
                </div> 
                </li>
                <li class="four-inputs birth-input">
                    <div class="two-inputs">
                    <div class="first-input clearfix">
                    <input id="represdobplace" type="text" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.birth_place}}" name="represdobplace" ng-model="store.repres_place_of_birth" maxlength="40" data-ng-maxlength="40" ng-class="{ 'has-error' : (shopEditForm.represdobplace.$dirty&&shopEditForm.represdobplace.$invalid&&shopEditForm.represdobplace.$error.required ) || (formSubmitted && !store.repres_place_of_birth)}" required/>
                    <div ng-show="(shopEditForm.represdobplace.$dirty&&shopEditForm.represdobplace.$invalid&&shopEditForm.represdobplace.$error.required ) || (formSubmitted && !store.repres_place_of_birth)" class="text-red" data-ng-bind="i18n.store.enter_legalBirthPlace"></div> 
                    </div>
                    <div class="second-input clearfix">
                    <div class="hint-message" data-ng-bind="i18n.shop_affiliation.detail.dob_label"></div>
                    <div class="input-one">
                    <select id="dobday" class="form-control bg-gray" name="dobday" data-ng-model="store.dobDay" data-ng-options="day for day in days" ng-class="{ 'has-error' : (shopEditForm.dobday.$dirty&&shopEditForm.dobday.$invalid&&shopEditForm.dobday.$error.required ) || (formSubmitted && !store.dobDay)}" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.day}}</option>
                    </select>
                    <div ng-show="(shopEditForm.dobday.$dirty&&shopEditForm.dobday.$invalid&&shopEditForm.dobday.$error.required ) || (formSubmitted && !store.dobDay)" class="text-red" data-ng-bind="i18n.store.enter_permntDd"></div>
                    </div>
                    <div class="input-two">
                    <select id="dobmonth" class="form-control bg-gray" name="dobmonth" data-ng-model="store.dobMonth" data-ng-options="month.name for month in months track by month.value" ng-change="monthChange();" ng-class="{ 'has-error' : (shopEditForm.dobmonth.$dirty&&shopEditForm.dobmonth.$invalid&&shopEditForm.dobmonth.$error.required ) || (formSubmitted && !store.dobMonth) }" required>
                        <option selected="selected" value="">{{i18n.shop_affiliation.detail.month}}</option>
                    </select>
                    <div ng-show="(shopEditForm.dobmonth.$dirty&&shopEditForm.dobmonth.$invalid&&shopEditForm.dobmonth.$error.required ) || (formSubmitted && !store.dobMonth)" class="text-red" data-ng-bind="i18n.store.enter_permntMonth"></div>
                    </div>
                    <div class="input-three">
                    <select id="dobyear" class="form-control bg-gray" data-ng-options="year.value for year in years track by year.id" name="dobyear" data-ng-model="store.dobYear" ng-class="{ 'has-error' : (shopEditForm.dobyear.$dirty&&shopEditForm.dobyear.$invalid&&shopEditForm.dobyear.$error.required ) || (formSubmitted && !store.dobYear) }" required>
                        <option selected="selected" value="">
                            {{i18n.shop_affiliation.detail.year}}
                        </option>
                    </select>
                    <div ng-show="(shopEditForm.dobyear.$dirty&&shopEditForm.dobyear.$invalid&&shopEditForm.dobyear.$error.required ) || (formSubmitted && !store.dobYear)" class="text-red" data-ng-bind="i18n.store.enter_permntYear"></div>
                    </div>
                </div>
                    </div>
                </li>
                <li class="two-inputs">
                    <div class="first-input">
                    <div class="hint-message" data-ng-bind="i18n.shop_affiliation.detail.not_display_label"></div>
                    <input id="represemail" type="email" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.email_address}}" name="represemail" ng-model="store.repres_email" ng-class="{ 'has-error' : (shopEditForm.represemail.$dirty&&shopEditForm.represemail.$invalid&&shopEditForm.represemail.$error.required ) || (formSubmitted && !store.repres_email)||(shopEditForm.represemail.$error.pattern && visited)}" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/" required/> 
                    <div ng-show="(shopEditForm.represemail.$dirty&&shopEditForm.represemail.$invalid&&shopEditForm.represemail.$error.required ) || (formSubmitted && !store.repres_email)||(shopEditForm.represemail.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_legalEmail"></div>
                    </div>
                    <div class="second-input">
                    <div class="hint-message" data-ng-bind="i18n.shop_affiliation.detail.not_display_label"></div>
                    <input id="represphonenumber" type="text" value="" ng-blur="visited = true" class="form-control bg-gray" placeholder="{{i18n.shop_affiliation.detail.cellphone}}" name="represphonenumber" ng-model="store.repres_phone_number" maxlength="15" data-ng-maxlength="15" ng-class="{ 'has-error' : (shopEditForm.represemail.$dirty&&shopEditForm.represphonenumber.$invalid&&shopEditForm.represphonenumber.$error.required ) || (formSubmitted && !store.repres_phone_number)||(shopEditForm.represphonenumber.$error.pattern && visited)}" ng-pattern="/^\d{10,15}$/" required/>
                    <div ng-show="(shopEditForm.represemail.$dirty&&shopEditForm.represphonenumber.$invalid&&shopEditForm.represphonenumber.$error.required ) || (formSubmitted && !store.repres_phone_number)||(shopEditForm.represphonenumber.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_legalPhone"></div>
                    </div> 
                </li>
                <li class="form-subheading" data-ng-bind="i18n.shop_affiliation.detail.permanent_address_label">
                    </li>
                <li class="two-inputs">
                <div class="first-input">
                    <input id="represaddress" type="text" class="form-control bg-gray" placeholder="Permanent Address" name="represaddress" ng-model="store.repres_address" maxlength="40" data-ng-maxlength="40" ng-class="{ 'has-error' : (shopEditForm.represaddress.$dirty&&shopEditForm.represaddress.$invalid&&shopEditForm.represaddress.$error.required ) || (formSubmitted && !store.repres_address) }" required/>
                    <div ng-show="(shopEditForm.represaddress.$dirty&&shopEditForm.represaddress.$invalid&&shopEditForm.represaddress.$error.required ) || (formSubmitted && !store.repres_address)" class="text-red" data-ng-bind="i18n.store.enter_permntAddress"></div>
                </div>
                <div class="second-input">
                    <input id="represprovince" type="text" ng-blur="visited = true" class="form-control bg-gray" placeholder="Prov." name="represprovince" ng-model="store.repres_province" maxlength ="2" data-ng-maxlength="2" ng-model="store.repres_address" ng-class="{ 'has-error' : (shopEditForm.represprovince.$dirty&&shopEditForm.represprovince.$invalid&&shopEditForm.represprovince.$error.required ) || (formSubmitted && !store.repres_province)||(shopEditForm.represprovince.$error.pattern && visited)}" ng-pattern="/^[0-9a-zA-Z]{2}$/" required/>
                    <div ng-show="(shopEditForm.represprovince.$dirty&&shopEditForm.represprovince.$invalid&&shopEditForm.represprovince.$error.required ) || (formSubmitted && !store.repres_province)||(shopEditForm.represprovince.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_permntProvince"></div>
                </div>
                </li>
                <li class="two-inputs">
                <div class="first-input">
                    <input id="represcity" type="text" class="form-control bg-gray" placeholder="City" name="represcity" ng-model="store.repres_city" maxlength="20" data-ng-maxlength="20" ng-class="{ 'has-error' : (shopEditForm.represcity.$dirty&&shopEditForm.represcity.$invalid&&shopEditForm.represcity.$error.required ) || (formSubmitted && !store.repres_city) }" required/>
                    <div ng-show="(shopEditForm.represcity.$dirty&&shopEditForm.represcity.$invalid&&shopEditForm.represcity.$error.required ) || (formSubmitted && !store.repres_city)" class="text-red" data-ng-bind="i18n.store.enter_permntCity"></div>
                </div>
                <div class="second-input">
                    <input id="represzip" type="text" ng-blur="visited = true" class="form-control bg-gray" placeholder="Zip Code" name="represzip" ng-model="store.repres_zip"
                    maxlength="5" data-ng-maxlength="5" data-ng-minlength="5" ng-class="{ 'has-error' : (shopEditForm.represzip.$dirty&&shopEditForm.represzip.$invalid&&shopEditForm.represzip.$error.required ) || (formSubmitted && !store.repres_zip)||(shopEditForm.represzip.$error.pattern && visited)}" ng-pattern="/^\d{5}$/" required/>
                    <div ng-show="(shopEditForm.represzip.$dirty&&shopEditForm.represzip.$invalid&&shopEditForm.represzip.$error.required ) || (formSubmitted && !store.repres_zip)||(shopEditForm.represzip.$error.pattern && visited)" class="text-red" data-ng-bind="i18n.store.enter_storevalidregzip"></div>
                </div>  
                </li>
                </ul>
                </div>  
                <ul>
                <li>
<!--                 <div data-ng-show="createStoreLoader" style="text-align: center;">
                    <img src="app/assets/images/proceed.gif" alt="loading..."/>
                </div> -->
                <button data-ng-hide="updateStart" type="submit" class="btn btn-primary shop-update-btn" data-ng-bind="i18n.shop_affiliation.update"></button>
                <div ng-show="updateStart" class="loader-container">
                    <img src="app/assets/images/proceed.gif" alt="loading..." />
                </div>
                    <!-- <button type="reset" data-ng-hide="createStoreLoader" class="btn btn-primary" ng-click="resetStoreObject()">{{i18n.store.reset}}<i class="fa fa-fw fa-times"></i></button> -->
                    <!-- <div class="text-red display-block-inline fr"  data-ng-show="createStoreError" data-ng-bind="createStoreErrorMgs"></div> -->
                    <div class="text-success display-block-inline fr"  data-ng-show="createStoreError" data-ng-bind="createStoreSuccessMgs"></div>
                </li>
            </ul>
            </form>
            </div>
        </div>      
    </div>
    </div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4">
                    <!-- Edit store form start from here-->
                    <profile-Right-Panel></profile-Right-Panel>
                </div>
</div>
</div>
</div>
</div> 