<div class="col-2-layout">
<!-- Content START -->
	<div id="content" class="container-right-fluid-page">
		<div class="innerAll">
			<div class="row">
				<div class="col-lg-8 col-md-8">
				<div class="inner-container">
					<!--album section left -->
					<div class="album-section-left album-contain-sec">
						<storeprofile></storeprofile> 
						<!--album section left conntainer -->
						<div class="album-section-container-top imgupload">
							<div class="heading" data-ng-bind="i18n.store.shop_album + ' : ' + albumname"></div>
							<div class="heading" data-ng-bind="i18n.store.album.description + ' : ' + albumDescription"></div>
							<div class="text-success text-center" data-ng-bind="albumResponse"></div>
							<div class="text-red text-center" data-ng-show="fileNotValid" data-ng-bind="fileNotValidMsg"></div>
							<div class="imgbutton-container clearfix">
							<div class="uploadcontainer" ng-if="storeDetail.owner_id == currentUser.id">
								
								<div class="album-online">
									<span class="album-status"><img titile="" alt="" src="app/assets/images/album.png"></span>
									<span data-ng-bind="i18n.store.upload_image"></span>
								</div>

								<!--ng-if="storeOwnerId == currentUser"--> 
								<form ng-submit="uploadstoremediaalbums()">
								
								<ul class="album-action-message">
									<!--<li class="last"><a href="javascript:void(0)">
                    					<input type="file" nv-file-select="" uploader="uploader" multiple>
                    					</a>
									</li>-->
									<li class="last" data-ng-hide="postContentStart"><a href="javascript:void(0)">
										<button type="submit" id="addbutton" class="btn btn-primary">
											<span data-ng-bind="i18n.store.add_photo"></span>
											<i class="fa fa-fw fa-plus"></i>
										</button>
										<span class="ng-hide" ng-show="uploadloader"><img titile="" alt="" src="app/assets/images/ajax-loader.gif"></span>
										</a>
									</li>
								</ul>
								</form>
							</div>
							<ul>
									<li>
										<a class="btn btn-primary" href="#/album/shop/{{storeId}}" data-ng-bind="i18n.store.back_to_shop_album"></a>
									</li>
								</ul>
						</div>
							<div data-ng-show="imgUpload" class="postimgup">
								<div ng-repeat="item in uploader.queue track by $index" class="preview-image-list">
									<div class="progress-color">
				                        <div class="progress" style="margin-bottom: 0;">
				                            <div class="progress-bar" role="progressbar" ng-style="{'width': item.progress + '%' }"></div>
				                        </div>
				                    </div>
				                    <div data-ng-show="imagePrvSrc[$index].media_thumb_link != ''" class="img-preview">
				                        <!-- <img ng-src="{{imagePrvSrc[$index].media_thumb_link}}" width="80" height="80" /> -->
				                        <div class="imgbkground">
				                            <a style="background-image:url('{{imagePrvSrc[$index].media_thumb_link}}');">
				                            </a> 
				                            <i data-ng-click="removeImage($index)" class="fa fa-fw fa-times" title="Remove"></i> 
				                        </div>
				                    </div>
				                    <div data-ng-show="albumImgLoader[$index] && item.progress == 0" class="progress-img" ng-hide="item.progress == 100">
				                        <show-progress></show-progress>
				                    </div>
								</div>
							</div>
							<!-- <div class="preview-images">
								<div ng-show="imageSrc" ng-repeat="img in imageSrc" class="preview-image-list">
								<img ng-src="{{img}}" width="100" height="100" style="padding:10px;" />
								<i data-ng-click="removeImage($index)" class="fa fa-fw fa-times" title="{{i18n.store.remove}}"></i>
								</div>
							</div> -->
						</div>
						<!--album section left conntainer -->
							<div class="album-sec-top" data-ng-if="albumDetails" >
							<div class="album-sec-left">
								<div class="album-left-top"><span class="albumHeading"><img title="" alt="" src="app/assets/images/album-heading-img.png"/><span data-ng-bind="i18n.friends.photo_profilo"></span>  </span><span class="albumSettings">
								<!--<a href=""><img title="" alt="" src="app/assets/images/settings-album.png"/></a>-->
							    </span><span class="album-last-update"></span></div>
								<!--<div class="album-desc">Descrizione dell’album</div>-->
							</div>
							<rate-album-dir-shop> </rate-album-dir-shop>
								<div class="clr"></div>
						</div>
						<div class="album-option-container album-section" infinite-scroll="loadMoreImage()" infinite-scroll-distance="3">
							<div class="ng-hide" style="text-align:center" ng-show="albloader"><img titile="" alt="" src="app/assets/images/ajax-loader.gif"></div>
							<ul class="album-option" ng-if="storeDetail.owner_id == currentUser.id"><li class="upload-img"><a class="view-album-img" href=""></a><input type="file" nv-file-select="" uploader="uploader" multiple/><span class="uploadphotobtn"><span data-ng-bind="i18n.album.upload_photos"></span></span></li></ul>
							<ul class="album-option" ng-if="viewalbum.length">
								<!--album container-->
								<li data-ng-repeat="item in viewalbum">
									<a class="view-album-img" href rel="maingallery" style="background-image:url('{{item.thumb_path}}');" ng-click="OpenModal($index, viewalbum, viewalbum.length,albumId, 'shop', 'store_media', storeId)" img-modal-new>
									</a>
									<span ng-if="storeDetail.owner_id == currentUser.id" class="album-delete-image-internal"><a class="close-btn"><i class="fa fa-fw fa-gear"></i></a>
									<div class="album-gear-pop">
										<a href="javascript:void(0);" ng-click="confirmClick() && deletealbummedias(item.id, $index)" data-ng-bind="i18n.store.delete_shope" confirm-click></a>
										<a id="setStoreImageSubmit-{{$index}}" class="profileimg" ng-click="setStoreProfileimage($index, item.id)" title="Set as featured Image" data-ng-bind="i18n.store.set_as_shop_profile"></a>
										<span class="sideloader" style="display:none;" id="setStoreImageloader-{{$index}}"><img titile="" alt="" src="app/assets/images/ajax-loader.gif"></span>
									</div>
									</span>
									<div class="album-imgae-ratings">
										<div class="album-imgage-ratings-inner" ng-controller="rateAlbum">

	     									<span class="album-image-votes">{{item.no_of_votes}} <a href  data-ng-click="findPeopleRate(item.id,'store_media', item.no_of_votes)">
	     									<span data-ng-if="item.no_of_votes > 1" data-ng-bind="i18n.profile_post.votes"></span><span data-ng-if="item.no_of_votes <= 1" data-ng-bind="i18n.profile_post.vote"></span> 
	     									</a></span>
											<ul class="ratingsAlbum">
												<li data-ng-repeat="rating in averageRating(item.avg_rate) track by $index">
													<span ng-class="item.avg_rate % 1 == 0 ? 'votes-avg' : ($last ? (item.avg_rate % 1 > 0.5 ? 'votes-avg' : 'half-avg' ):'votes-avg')"></span>
												</li>
	     										<li ng-repeat="blank in blankStar(item.avg_rate) track by $index">
	     											<span class="votes-blank"/>
	     										</li>
	     									</ul>
	     								</div>
 									</div>
								</li>	
								<!--album container-->
							</ul>
							<div class="ng-hide" style="text-align:center" ng-show="listload"><img title="" alt="" src="app/assets/images/ajax-loader.gif"></div>
							<div class="album-option-mess album-blank" ng-if="!viewalbum.length" data-ng-bind="i18n.store.album.no_image"></div>							
						</div>
					</div>
					<!--album section left -->
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<profile-right-panel></profile-right-panel>
				</div>
			</div>
		</div>
	</div>
	<!-- // Content END -->
<div class="clearfix"></div>
</div>
	