<div class="col-2-layout">
<div id="content" class="container-right-fluid-page"> 
  <!-- <div class="layout-app">  -->
  <div class="innerAll">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="inner-container"> 
          <!--This directive will set the time line  image on alubum pic-->
          <user-Cover-Profile-Panel></user-Cover-Profile-Panel>
          <!-- <user-Cover-Profile-Panel></user-Cover-Profile-Panel> -->
          <div ng-show="friendViewLoader" class="loader-container"> <img src="app/assets/images/ajax-loader.gif" alt="loading..." /> </div>
          <!--store details section-->
          <div class="transaction-container user-wallet shop-wallet-container">
            <div class="section-heading">
                <span data-ng-bind="i18n.left_menu.wallet" class="trans-heading"></span>
            </div>
            <div class= "transaction-content">
              <div class="transaction-tab">
                <ul>
                  <li ng-class="{ active: tabChoose == 'credits' }" ng-click="tabChoose = 'credits'"><span class="trans-text" ng-bind= "i18n.citizen_wallet.credit"></span></li>
                  <li ng-class="{ active: tabChoose == 'shop' }" ng-click="tabChoose = 'shop'"><span class="trans-text" ng-bind= "i18n.citizen_wallet.shop_card"></span></li>
                  <li ng-class="{ active: tabChoose == 'coupon' }" ng-click="tabChoose = 'coupon'"><span class="trans-text" ng-bind= "i18n.citizen_wallet.coupon"></span></li>
                  <li ng-class="{ active: tabChoose == 'history' }" ng-click="tabChoose = 'history'"><span class="trans-text" ng-bind= "i18n.citizen_wallet.transaction_history"></span></li>
                </ul>
              </div>
              <div class="wallet-tab-content">
                <credit-detail class="view-wallet-details" data-ng-if = "tabChoose == 'credits'" ></credit-detail>
                <shop-card class="wallet-shopping-card" data-ng-if = "tabChoose == 'shop'" ></shop-card>
                <coupon class="wallet-shopping-card" data-ng-if = "tabChoose == 'coupon'" ></coupon>
                <transaction-history class="trans-history" data-ng-if = "tabChoose == 'history'" ></transaction-history>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <profile-Right-Panel></profile-Right-Panel>
      </div>
    </div>
  </div>
</div>
</div>
<!-- // Content END -->

<div class="clearfix"></div>