<div class="landing-page-container">
  <section>
    <div  class="container-fluid register-sixth-container login-page-ui landing-page-2-container">
      <div class="register-page-top-container">
        <div class="register-sixth-continent clearfix">
          <div class="register-sixth-continent-form-section landing-page-two">
            <div class="landing-content" ng-if="currentLanguage == 'en'">
              <div class="landing-top">
                <div class="landing-title">Registration</div>
                <a href="#/citizen/register/{{profileType}}" class="btn btn-primary">Proceed</a> </div>
              <ul>
                <li class="landing-list1">
                  <h4>Our Mission</h4>
                  <p>SixthContinent connects Shops and Consumers and <strong>produces wealth for both.</strong></br>
                    SixthContinent improves the World Economy through the orientation of consumption shifting purchases Citizens towards activities economically Virtuous like yours, classified as such and monitored by the algorithm MoMoSy.</p>
                </li>
                <li class="landing-list2">
                  <h4>You sell at full price, your customer buys 50%</h4>
                  <p>The Shops affiliated to SixthContinent always sell and cash the full price, while consumers buy with discounts up to 50%, in fact Citizens signed up to SixthContinent receive a free daily and real income called "SixthContinent Credit" spendable only at the affiliated activities and usable to pay up to 50% of the value of the receipt.</p>
                </li>
                <li class="landing-list3">
                  <h4>How It works</h4>
                  <p>Transactions between Citizen and Shop are made with three clicks via the free App "SixthContinent" and “Business SixthContinent”,:</p>
                  <p><strong>The Consumer with their app</strong> converts the SixthContinent Credit in a nominal Shopping Card Up To 50% spendable only at your store, SixthContinent immediately performs a transfer of the full amount of the Shopping Card Up To 50% on your bank account; The Consumer, when they want to make the purchase in your store, Tag themself with their App "SixthContinent".</p>
                  <p>Your App “Business SixthContinent” recognizes the presence of the citizen and, once inserted the total amount of the transaction, calculates the amount to be paid in cash (or credit card) and the amount of the Shopping Card Up To 50% used. The SixthContinent Credit of the Shopping Card Up To 50% can contribute up to 50% of the bill.</p>
					<div class="landing-video-container">
						<a class="video-fancybox fancybox.iframe" href="https://www.youtube.com/embed/x_xTts3BIhc?fs=1&amp;autoplay=1"><img src="app/assets/images/video-thumb-landing2.png">
							<span class="video-text">DISCOVER NOW HOW IT WORKS <strong>WATCH THE VIDEO</strong></span>
						</a>
					</div>
				</li>
                <li class="landing-list4">
                  <h4>You return to be Competitive on the Market</h4>
                  <p>Thanks to the economic model of SixthContinent, that allows your customers to pay with discounts up to 50% and you receipts full price, your prices will be the lowest in the city and return to be competitive, even in the face of unfair competition from some multinationals, which has prevented the membership until they adopt a business model more fair and virtuous classified by Algorithm MoMoSy.</p>
                </li>
                <li class="landing-list5">
                  <h4>SixthContinent Credit</h4>
                  <p>Credit SixthContinent, <strong>a real Citizen Basic Income</strong> received daily by the Citizens of SixthContinent, is generated by transactions that all citizens do in the SixthContinent affiliated Shops. The Shops accept that SixthContinent takes and redistributes to Citizens 6% (depending on the category or sub-multiple of thr Shop) of each transaction made through our system.</p>
                  <p class="landing-list5-one"><span>6%</span> <strong>is redistributed in the following way:</strong></p>
                  <p class="landing-list5-two">
                    <span>1%</span> divided among the citizens of the nation of the Consumer;</br>
                    <span>1%</span> to the citizen who invited the Consumer;</br>
                    <span>1%</span> to the citizen who invited the Shop;</br>
                    <span>1%</span> divided among Friends and people followed by the Consumer on the Social Network;</br>
                    <span>1%</span> to the Citizen who made the Purchase</br>
                    <span>1%</span> to SixthContinent.</p>
                </li>
                <li class="landing-list6">
                  <h4>The MoMoSy Algorithm</h4>
                  <p>The algorithm transforms the current Pyramidal Economic System, which enriches the 1% of the world population at the expense of 99%, in a Torodial Economic System, which that equally distributes wealth to 100% of the population. MoMoSy classifies companies in Virtuous and Hazardous to markets through an objective algorithm verifiable with data available to anyone.
					 To learn more, click here <a href="http://www.momosy.com">www.momosy.com</a></p>
                </li>
                <li class="landing-list7">
                  <h4>Free Affiliation</h4>
                  <p>The affiliation is free, you don’t pay anything and get new customers through SixthContinent.</br>
                    Only when you have reached the revenue of 200 € thanks to SixthContinent, you'll pay € 99 + VAT UNA TANTUM (only once never again) and will begin to contribute to the Credit SixthContinent for Citizens Consumers of the Community.</p>
                </li>
                <li class="landing-list8">
                  <h4>Rules and Promotions for Citizens SixthContinent</h4>
                  <p>In order to make known immediately your affiliation to thousands of consumers, you agree to the following promotions and discounts, managed easily from your free app “Business SixthContinent”.</p>
                </li>
              </ul>
              <div class="landing-content-inner premium-credits">
                <p><strong>You recognize, once and forever, a total discount of 50 euro, called "Premium Credits",</strong> Usable by one or more citizens, even partially, up to maximum of 50% of each purchase.</br>
                  Ex: for a purchase of € 10 the Consumer can use the discount for up to 5 € and your "Premium Credits" available will fall to 45 €.</p>
				  <ul class="ul-li-tick">
					<li><b>Premium Credits are usable:</b></li>
					<li>To pay up to 50% of the value of each purchase.</li>
					<li>Until the Citizen Premium Credits are finished.</li>
					<li>Until the Shop’s Premium Credits position is not finished.</li>
				  </ul>
			  </div>
			  <div class="landing-content-inner encourages">
                <p><strong>Encourages Consumers around you.</strong> You agree to send one “Discount Coupon”, of 5 €, available to pay the purchase value up to 50%, to 20 citizens who, by proximity, preferences and available credit appear to be the most interested in buying in your store. The discount coupons are expendable exclusively in your store and can contribute up to the maximum of 50% of the value of the ticket. Ex. 1: Receipt of € 5, the voucher can be used by the Citizen for up to € 2.50 and the remaining € 2.50 will be paid in cash (or through traditional credit card). Ex 2: Receipt of 50 €, the voucher can be used entirely for 5 €, further € 20 can be paid with credit SixthContinent and the remaining 50%, € 25 must be paid in cash (or through traditional credit card).</br>
                  On reaching € 200 in order to enable us to distribute income to Citizens, you agree that SixthContinent withdraw 6% of each transaction made with Consumers SixthContinent. 6% will be calculated only on the amount of money actually received, not on discounts granted ("Discount Coupon" and "Premium Credits").</br>
                  6% is redistributed in the following way, the 5% to Citizens as "Credit SixthContinent" in electronic wallets, which will spend exclusively at affiliated stores, while the remaining 1% is the only part retained by SixthContinent to offer its services free of charge to virtuous Citizens, Shops and Businesses.</br>
				  The Discount Coupon are nominal and aren’t cumulative. They can be used for multiple purchases until exhaustion of the value of the Coupon.</p>
              </div>
			  <div class="landing-content-inner advertising">
				<p><strong>Revenue, Advertising and + VAT</strong></br>
                  For all amounts, ie 99 Euros + VAT payable (ONCE) after reaching € 200 in sales and 6% + VAT collected from your transactions, SixthContinent Italia Srl will issue regular bills, which you can deduct for tax purposes to the extent provided by law.</p>
              </div>
			  <div class="landing-content-inner credit-card">
				<p><strong>Why insert the IBAN and Credit Card</strong></br>
                  The Shop owner, during the registration inserts the IBAN of their account, changeable afterwards with another one, so SixthContinent can send on their Bank Account the SixthCoontinent Credit used by citizens (the part that contributes to their purchases up to 50% ).</br>
                  SixthContinent performs the transfer the day after the date on which the Consumer converts the Shopping Card Up To 50%.</br>
                  The initial registration of the credit card, without charge by SixthContinent, occurs at the time of membership on the sure Form of CartaSì VISA-MasterCard and in the future may be replaced with others via the SHOP Profile within the Social Network.</br>
                  The credit card in necessary to make the payment 99 EUR + VAT (ONCE) only after the dealer has received at least 200 euro, and remove the 6% of transactions with SixthContinent Consumers in order to redistribute income Citizens.</p>
              </div>
			  <div class="landing-content-inner legal-fiscal">
				<p><strong>SixthContinent Italia S.r.l</strong></br>
                  SixthContinent, in order to comply with legal and fiscal requirements of each country, opened in each country where it operates a branch of the group leader SixthContinent INC.</br>
                  Therefore, in order to provide an optimal service, all business relationships with merchants residing in Italy will take place directly with the Italian branch SixthContinent Italia Srl - a sole shareholder, based in Milan, fully paid capital € 100,000.</br>
              </div>
              <div> 
				<a href="javascript:void(0)" ng-click="backLocation()" class="landing2-back">&lt;&lt; {{i18n.shop_affiliation.back_link}}</a>
				<a href="#/citizen/register/{{profileType}}" class="next-task btn btn-primary">Proceed</a> </div>
            </div>
            
            <div class="landing-content" ng-if="currentLanguage == 'it'">
              <div class="landing-top">
                <div class="landing-title">Registrazione</div>
                <a href="#/citizen/register/{{profileType}}" class="btn btn-primary">CONTINUA</a> </div>
              <ul>
                <li class="landing-list1">
                  <h4>La nostra Mission</h4>
                  <p>SixthContinent connette Negozi e Cittadini e <strong>produce ricchezza per entrambi.</strong></br>
                    SixthContinent migliora l’Economia mondiale attraverso l’orientamento dei consumi spostando gli acquisti dei Cittadini verso le attività economicamente Virtuose come la tua, classificate come tali e monitorate dall’algoritmo MoMoSy.</p>
                </li>
                <li class="landing-list2">
                  <h4>Tu vendi a prezzo pieno, il tuo Cliente acquista al 50%</h4>
                  <p>I Negozi affiliati a SixthContinent vendono e incassano il prezzo pieno, mentre i Consumatori acquistano con sconti fino al 50%. Infatti i Cittadini iscritti a SixthContinent ricevono quotidianamente e gratuitamente un reddito reale chiamato “Credito SixthContinent” spendibile soltanto presso le attività affiliate ed utilizzabile per pagare fino al 50% del valore dello scontrino.</p>
                </li>
                <li class="landing-list3">
                  <h4>Come funziona</h4>
                  <p>Le transazioni tra Cittadino ed Esercente tramite le App gratuite “SixthContinent” e “SixthContinent Business”, ovvero:</p>
                  <p><strong>Il Consumatore con la propria app</strong> converte il Credito SixthContinent in una Shopping Card Up To 50% nominale e spendibile soltanto presso il tuo negozio. SixthContinent effettua immediatamente un bonifico dell’intero importo della carta sul tuo conto corrente bancario;</p>
                  <p>Il Consumatore si tagga nel tuo negozio con la sua App “SixthContinent”.La tua App “SixthContinent Business” riconosce la presenza del cittadino e, una volta inserito l’importo totale della transazione, calcola l’importo da incassare dal cliente e l’importo utilizzato della Shopping Card Up To 50% convertita in precedenza.</p>
				  <p>Il credito SixthContinent della Shopping Card Up To 50% può contribuire fino al 50% dello scontrino.</p>
					<div class="landing-video-container">
					<a class="video-fancybox fancybox.iframe" href="https://www.youtube.com/embed/ReyrnWfi810?fs=1&amp;autoplay=1"><img src="app/assets/images/video-thumb-landing2.png">
						<span class="video-text">SCOPRI  SUBITO COME FUNZIONA <strong>GUARDA IL VIDEO</strong></span>
					</a>
				  </div>
				</li>
                <li class="landing-list4">
                  <h4>Torni ad essere Competitivo sul mercato.</h4>
                  <p>Grazie al modello economico di SixthContinent, che consente ai tuoi clienti di pagare con sconti sino al 50%.  Tu incassi il prezzo pieno, e <strong>i tuoi prezzi diventeranno i più bassi</strong> della città e tornerai ad essere competitivo, anche di fronte alla concorrenza sleale di alcune Multinazionali, che non possono aderire a SixthContinent sino a quando non adottano un modello di business più equo e classificato virtuoso dall’Algoritmo MoMoSy.</p>
                </li>
                <li class="landing-list5">
                  <h4>Credito SixthContinent</h4>
                  <p>Credito SixthContinent, <strong>un vero e proprio “Reddito di Cittadinanza”</strong> che ricevono quotidianamente i Cittadini di SixthContinent, viene generato dalle transazioni che tutti i cittadini fanno presso le Attività affiliate a SixthContinent. I Negozi accettano che SixthContinent prelevi e ridistribuisca ai Cittadini il 6% (o sottomultiplo a seconda della Categoria dell’Attività) di ogni transazione effettuata tramite il nostro sistema.</p>
                  <p class="landing-list5-one"><span>6%</span> <strong>viene ridistribuito nel seguente modo:</strong></p>
                  <p class="landing-list5-two">
                    <span>1%</span> suddiviso tra i Cittadini della Nazione del Consumatore;</br>
                    <span>1%</span> al cittadino che ha invitato il Consumatore;</br>
                    <span>1%</span> al cittadino che ha invitato il Negozio;</br>
                    <span>1%</span> suddiviso tra gli Amici e le persone Seguite sul Social Network dal Consumatore;</br>
                    <span>1%</span> al Cittadino che ha effettuato l’Acquisto</br>
                    <span>1%</span> a SixthContinent.</p>
                </li>
                <li class="landing-list6">
                  <h4>L’algoritmo MoMoSy</h4>
                  <p>L’algoritmo MoMoSy trasforma l’attuale Sistema Economico Piramidale che arricchisce l’1% della popolazione mondiale a scapito del 99%, in un Sistema Economico Toroidale che distribuisce in maniera equa la ricchezza al 100% della popolazione. MoMoSy classifica le aziende in Virtuose e Nocive per i mercati attraverso un algoritmo oggettivo, verificabile e con dati reperibili da chiunque. </br>
                    Per saperne di più clicca qui <a href="http://www.momosy.com">www.momosy.com</a></p>
                </li>
                <li class="landing-list7">
                  <h4>Affiliazione Gratuita</h4>
                  <p>L’affiliazione è gratuita, non paghi niente e ricevi nuovi clienti tramite SixthContinent.</br>
                    Soltanto quando avrai raggiunto il fatturato di 200€ grazie a SixthContinent, pagherai 99€ + IVA UNA TANTUM (soltanto una volta per sempre e mai più) ed inizierai a contribuire al Credito SixthContinent per i Cittadini Consumatori della Community.</p>
                </li>
                <li class="landing-list8">
                  <h4>Regole e Promozioni per i Cittadini SixthContinent</h4>
                  <p>Al fine di far conoscere immediatamente a migliaia di Consumatori che la tua attività si è affiliata a SIXTHCONTINENT, accetti le seguenti promozioni e sconti, gestite facilmente dalla tua App gratuita “SixthContinent Business”.</p>
                </li>
              </ul>
              <div class="landing-content-inner premium-credits">
                <p><strong>Riconosci, una sola volta e per sempre, uno sconto totale di 50 euro, chiamato “Crediti Premium”,</strong> usufruibile da uno o più cittadini, anche parzialmente, utilizzabile sino al massimo del 50% di ogni singolo acquisto.</br>
                  Es: per un acquisto di euro 10 il Consumatore potrà utilizzare lo sconto per un massimo di 5€ e i tuoi Crediti Premium scenderanno a 45€.</p>
					<ul class="ul-li-tick">
					<li><b>I Crediti Premium sono utilizzabili:</b></li>
					<li>Per pagare fino al 50% del valore di ogni singolo acquisto.</li>
					<li>Fino all’esaurimento del Credito Premio che possiede il Cittadino.</li>
					<li>Fino a quando la posizione Crediti Premio del Negozio non si sia esaurita.</li>
				  </ul>
			  </div>
			  <div class="landing-content-inner encourages">
				<p><strong>Incentiva i Consumatori intorno a te.</strong> Accetti di inviare 1 buono sconto, chiamato “Coupon Sconto” da 5 euro, utilizzabile per pagare il valore dell’acquisto sino al 50%, ai 20 cittadini che, per vicinanza, preferenze e credito disponibile risultano essere i maggiormente interessati agli acquisti nel tuo negozio. I buoni sconto sono spendibili esclusivamente nel tuo negozio e possono contribuire fino al massimo del 50% del valore dello scontrino. Es. 1: Scontrino di 5€, il buono è utilizzabile dal Cittadino per un massimo di 2,50€ e i restanti 2,50€ dovranno essere pagati in contanti (o tramite tradizionale carta di credito). Es 2: Scontrino di 50€, il buono è utilizzabile interamente per 5€, ulteriori 20€ potranno essere pagati con Credito SixthContinent e il restante 50%, ovvero 25€ dovranno essere pagati in contanti (o tramite tradizionale carta di credito).</br>
                  Al fine di consentirci di distribuire Reddito ai Cittadini, accetti che SixthContinent prelevi il 6% di ogni transazione effettuata con i Consumatori SixthContinent. Il 6% verrò calcolato soltanto sulle somme di denaro effettivamente ricevuto, non sugli sconti riconosciuti (“Coupon Sconto” e “Crediti Premium”).</br>
                  Il 6% prelevato verrà così distribuito, il 5% ai Cittadini come “Credito SixthContinent” nei portafogli elettronici, che potranno spendere esclusivamente presso i negozi affiliati, mentre il restante 1% è la sola parte trattenuta da SixthContinent per offrire i propri servizi gratuitamente a Cittadini, Negozi e Imprese virtuose.</br>
				  I Coupon Sconto sono nominali e non cumulabili. Sono utilizzabili per più acquisti sino ad esaurimento del valore del Coupon.</p>
              </div>
			  <div class="landing-content-inner advertising">
				<p><strong>Fatturato, Pubblicità e +IVA</strong></br>
                  Per tutti gli importi, ovverosia 99 euro +IVA da pagarsi (UNA SOLA VOLTA) al raggiungimento di 200€ di fatturato, nonché il 6% + IVA prelevato al termine di ogni transazione, SixthContinent Italia S.r.l. emetterà regolari fatture come pubblicità, che potrai dedurre fiscalmente nei limiti previsti dalla normativa vigente.</p>
              </div>
			  <div class="landing-content-inner credit-card">
				<p><strong>Perché inserire l’IBAN e Carta di Credito</strong></br>
                  L’esercente, al momento della registrazione inserisce il codice IBAN del proprio conto, e successivamente può modificarlo con un altro, affinché SixthContinent possa inviare sul suo Conto Bancario il Credito SixthContinent utilizzato dai Cittadini (la parte che contribuisce alle loro spese sino al 50%).</br>
                  La registrazione iniziale della Carta di Credito, senza alcun addebito da parte di SixthContinent, avviene al momento dell’affiliazione tramite il Modulo sicuro di CartaSì VISA-MasterCard e in futuro potrà essere sostituita con altre tramite il Profilo SHOP all’interno del Social Network.</br>
                  La Carta di Credito dell’esercente serve ad effettuare il pagamento successivo dei 99 euro + IVA (UNA SOLA VOLTA) soltanto dopo che il negoziante ha incassato almeno 200 euro, e prelevare il 6% delle transazioni con i Consumatori SixthContinent al fine di ridistribuire Reddito ai Cittadini.</p>
              </div>
			  <div class="landing-content-inner legal-fiscal">
				<p><strong>SixthContinent Italia S.r.l</strong></br>
                  SixthContinent, al fine di rispettare tutti gli adempimenti legali e fiscali di ogni Paese, apre in ogni paese dove opera una succursale della capo gruppo SixthContinent INC.</br>
                  Pertanto, al fine di offrire un servizio ottimale, tutte le relazioni commerciali con gli esercenti residenti in Italia avverranno direttamente con la succursale Italiana SixthContinent Italia S.r.l - a socio unico, con sede a Milano, c.s. Euro 100.000 i.v..</br>
              </div>
              <div> 
				<a href="javascript:void(0)" ng-click="backLocation()" class="landing2-back">&lt;&lt; {{i18n.shop_affiliation.back_link}}</a>
				<a href="#/citizen/register/{{profileType}}" class="next-task btn btn-primary">CONTINUA</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total-economy-container">
      <div class="total-economy-inner">
        <div class="row top50-block">
          <h2 class="text-center"><strong>{{i18n.mission.top50}}</strong> <span class="normal-font">{{i18n.mission.users}}</span> </h2>
          <home-Top-Link></home-Top-Link>
        </div>
      </div>
    </div>
    <footer-logout></footer-logout>
    <div ng-include="app/views/footer.html"></div>
  </section>
</div>
